div.image {
  padding-top: 109px;
  text-align: center;
}

input[type="text"] {
  font: 16px arial, sans-serif;
  line-height: 34px;
  width: 480px;
  position: fixed;
  margin-left: 490px;
  top: 33%;
  border-radius: 20px;
  border: 1px solid #cecece;
}

div.nav {
  text-decoration: none;
  padding-left: 15px;
  
  color: #000;
  opacity: 0.75;
  font-size: 14px;
  font-family: arial, sans-serif;
 
}

a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

div.footer {
  background-color: yellowgreen;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-size: 14px;
  padding: 15px;
  background-color: #f2f2f2;
  padding-left: 27px;
  color: #5f6368;
  padding-left: 27px;
  margin: 0 !important;
  white-space: nowrap;
  opacity: 0.75;
  text-decoration: none;
}

div.footer2 {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: right;
  padding: 15px;
  padding-right: 27px;
  font-size: 14px;
  opacity: 0.75;
  white-space: nowrap;
}

span.nav2 {
  text-align: right;
  font-size: 14px;

}

input[type="text1"] {
  text-align: center;
  font-size: 14px;
  background-color: #f2f2f2;
  border: none;
  padding: 10px;
  color: #5f6368;
  margin-left: 560px;
  margin-top: 60px;
}

input[type="text2"] {
  text-align: center;
  font-size: 14px;
  background-color: #f2f2f2;
  border: none;
  padding: 10px;
  color: #5f6368;
}

img.vlkn{
  width: 20px;
  
}


